<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<!--增加命名空间提示符-->

<head>
    <title>Good Thymes Virtual Grocery</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!--<link rel="stylesheet" type="text/css" media="all" href="../../css/gtvg.css" th:href="@{/css/gtvg.css}" />-->
</head>

<body>

<div class="col-sm-8">
    <div class="page-header">
        <h2 th:text="${title}">Cum sociis（博客标题）</h2>
        <p class="blog-post-meta">时间：<span th:text="${createdTime}">2015年2月3日</span> </p>
    </div>

    <div class="blog-post-content" th:text="${content}">
        （这里是博客内容）
    </div>
</div>
</body>

</html>