<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<!--增加命名空间提示符-->

<head>
    <title>Good Thymes Virtual Grocery</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!--<link rel="stylesheet" type="text/css" media="all" href="../../css/gtvg.css" th:href="@{/css/gtvg.css}" />-->
</head>

<body>

<div class="col-sm-8">
    <div class="page-header">
        <p>这是学生id：<span th:text="${student.id}">未填充</span> </p>
        <p>这是学生姓名：<span th:text="${student.name}">未填充</span> </p>
    </div>

    <div class="blog-post-content" th:text="${hobby}">
        这是学生爱好：未填充
    </div>
</div>
</body>

</html>