<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>WeUI</title>
    <!-- 引入 WeUI -->
    <link rel="stylesheet" href="http://res.wx.qq.com/open/libs/weui/1.1.0/weui.min.css"/>
    <script src="/script/zepto.min.js"></script>
    <script src="/script/updown.js"></script>
    <script>
    $(document).ready(function(){
        $.ajax({
                type: 'GET',
                url: '/getDept/all/',
                dataType: 'json',
                data: {},
                success: function(data){
                    var result = '';
                    for(var i = 0; i < data.dept_list.length; i++){
                        result+='<option value="'+data.dept_list[i].name+'">'+data.dept_list[i].name+'</option>';
                    }
                    $('#dept').html(result);
                    // alert(result);
                },
                error: function(xhr, type){
                    alert('Ajax error!');
                }
            });
    });
$(function(){
    var counter = 0;
    // 每页展示4个
    var num = 4;
    var page = 0;
    // dropload
    $('.weui_panel').dropload({
        scrollArea : window,
        autoLoad : true,
        domDown : {//上拉
            domClass   : 'dropload-down',
            domRefresh : '<div class="dropload-refresh f15 "><i class="icon icon-20"></i>上拉加载更多</div>',
            domLoad    : '<div class="dropload-load f15"><span class="weui-loading"></span>正在加载中...</div>',
            domNoData  : '<div class="dropload-noData">没有更多数据了</div>'
        },
        domUp : {//下拉
            domClass   : 'dropload-up',
            domRefresh : '<div class="dropload-refresh"><i class="icon icon-114"></i>上拉加载更多</div>',
            domUpdate  : '<div class="dropload-load f15"><i class="icon icon-20"></i>释放更新...</div>',
            domLoad    : '<div class="dropload-load f15"><span class="weui-loading"></span>正在加载中...</div>'
        },
        loadUpFn : function(me){//刷新
            counter = 0
            pageStart = 0
            pageEnd = 0
            page = 0
            $.ajax({
                type: 'GET',
                url: '/question/all/',
                dataType: 'json',
                data: {
                    page_size : num,
                    page_num : page,
                    state_condition : $('#status').val(),
                    depart_condition : $('#dept').val(),
                    order_type : $('#order').val(),
                    keywords : ""
                },
                success: function(data){
                    var result = '';
                    // alert("success1")
                    for(var i = 0; i < data.question_list.length; i++){
                        result+='<div id="question" class="weui-media-box weui-media-box_text" question_id="'+data.question_list[i].question_id+'">'
                                 '<h4 class="weui-media-box__title">'+data.question_list[i].question_title+'</h4>'
                                 '<p class="weui-media-box__desc">'+data.question_list[i].question_content+'</p>'
                                 '<ul class="weui-media-box__info">'
                                 '<li class="weui-media-box__info__meta">'+data.question_list[i].question_location+'</li>'
                                 '<li class="weui-media-box__info__meta weui-media-box__info__meta_extra">'+data.question_list[i].like_num+'</li>'
                                 '</ul>'
                                 '</div>';
                    }
                    // 为了测试，延迟1秒加载
                    // alert("success")
                    setTimeout(function(){
                        $('.weui_panel_bd').html(result);
                        // 每次数据加载完，必须重置
                        me.resetload();
                        // 重置索引值，重新拼接more.json数据
                        counter = 0;
                        // 解锁
                        me.unlock();
                        me.noData(false);
                    },1000);
                },
                error: function(xhr, type){
                    // alert('Ajax error!');
                    // 即使加载出错，也得重置
                    me.resetload();
                }
            });
        },
        loadDownFn : function(me){//加载更多
            $.ajax({
                type: 'GET',
                url: '/question/all/',
                dataType: 'json',
                data: {
                    page_size : num,
                    page_num : page,
                    state_condition : $('#status').val(),
                    depart_condition : $('#dept').val(),
                    order_type : $('#order').val(),
                    keywords : ""
                },
                success: function(data){
                    counter++;
                    page++;
                    var result = ''
                    for(var i = 0; i < data.question_list.length; i++){
                        result+='<div id="question" class="weui-media-box weui-media-box_text" question_id="'+data.question_list[i].question_id+'">'+
                                '<h4 class="weui-media-box__title">'+data.question_list[i].question_title+'</h4>'+
                                 '<p class="weui-media-box__desc">'+data.question_list[i].question_content+'</p>'+
                                 '<ul class="weui-media-box__info">'+
                                 '<li class="weui-media-box__info__meta">'+data.question_list[i].question_location+'</li>'+
                                 '<li class="weui-media-box__info__meta weui-media-box__info__meta_extra">'+data.question_list[i].like_num+'</li>'+
                                 '</ul>'+
                                 '</div>';
                    }
                    // alert(result)
                    if(data.question_list.length == 0) {
                            // 锁定
                            me.lock();
                            // 无数据
                            me.noData();
                    }
                    // 为了测试，延迟1秒加载
                    $('.weui_panel_bd').append(result);
                    // 每次数据加载完，必须重置
                    me.resetload();
                },
                error: function(xhr, type){
                    alert('Ajax error!');
                    // 即使加载出错，也得重置
                    me.resetload();
                }
            });
        }
    });
});
</script>
    <style id="style-1-cropbar-clipper">/* Copyright 2014 Evernote Corporation. All rights reserved. */
.en-markup-crop-options {
    top: 18px !important;
    left: 50% !important;
    margin-left: -100px !important;
    width: 200px !important;
    border: 2px rgba(255,255,255,.38) solid !important;
    border-radius: 4px !important;
}

.en-markup-crop-options div div:first-of-type {
    margin-left: 0px !important;
}

.page, body {
    background-color: #f8f8f8;
}
</style>
</head>
<body ontouchstart>
<div class="page__bd">
    <!-- <a href="javascript:;" class="weui-btn weui-btn_primary">点击展现searchBar</a> -->
    <div class="weui-search-bar" id="searchBar">
        <form class="weui-search-bar__form">
            <div class="weui-search-bar__box">
                <i class="weui-icon-search"></i>
                <input type="search" class="weui-search-bar__input" id="searchInput" placeholder="搜索" required="">
                <a href="javascript:" class="weui-icon-clear" id="searchClear"></a>
            </div>
            <label class="weui-search-bar__label" id="searchText" style="transform-origin: 0px 0px 0px; opacity: 1; transform: scale(1, 1);">
                <i class="weui-icon-search"></i>
                <span>搜索</span>
            </label>
        </form>
        <a href="javascript:" class="weui-search-bar__cancel-btn" id="searchCancel">取消</a>
    </div>
    <div class="weui-cells searchbar-result" id="searchResult" style="display: none;">
        <div class="weui-cell weui-cell_access">
            <div class="weui-cell__bd weui-cell_primary">
                <p>实时搜索文本</p>
            </div>
        </div>
        <div class="weui-cell weui-cell_access">
            <div class="weui-cell__bd weui-cell_primary">
                <p>实时搜索文本</p>
            </div>
        </div>
        <div class="weui-cell weui-cell_access">
            <div class="weui-cell__bd weui-cell_primary">
                <p>实时搜索文本</p>
            </div>
        </div>
        <div class="weui-cell weui-cell_access">
            <div class="weui-cell__bd weui-cell_primary">
                <p>实时搜索文本</p>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" class="searchbar js_show">
    $(function(){
        var $searchBar = $('#searchBar'),
            $searchResult = $('#searchResult'),
            $searchText = $('#searchText'),
            $searchInput = $('#searchInput'),
            $searchClear = $('#searchClear'),
            $searchCancel = $('#searchCancel');

        function hideSearchResult(){
            $searchResult.hide();
            $searchInput.val('');
        }
        function cancelSearch(){
            hideSearchResult();
            $searchBar.removeClass('weui-search-bar_focusing');
            $searchText.show();
        }

        $searchText.on('click', function(){
            $searchBar.addClass('weui-search-bar_focusing');
            $searchInput.focus();
        });
        $searchInput
            .on('blur', function () {
                if(!this.value.length) cancelSearch();
            })
            .on('input', function(){
                if(this.value.length) {
                    $searchResult.show();
                } else {
                    $searchResult.hide();
                }
            })
        ;
        $searchClear.on('click', function(){
            hideSearchResult();
            $searchInput.focus();
        });
        $searchCancel.on('click', function(){
            cancelSearch();
            $searchInput.blur();
        });

        $('#searchInput').on('change', function(){
            var status = $('#status').val(),
                dept = $('#dept').val(),
                order = $('#order').val(),
                type = $('#type').val(),
                keyword = $(this).val()
            var get_url = '';
            if (type == 'all') {
                get_url = '/question/all/'
            } else {
                get_url = '/regular_question/all/'
            }
            $.ajax({
                type: 'GET',
                url: '/question/all/',
                dataType: 'json',
                data: {
                    page_size : 4,
                    page_num : 1,
                    state_condition : status,
                    depart_condition : dept,
                    order_type : order,
                    keywords : keyword
                },
                success: function(data) {
                    var result = '';
                    for(var i = 0; i < data.question_list.length; i++) {
                        result += '<div id="question" class="weui-media-box weui-media-box_text" question_id="'+data.question_list[i].question_id+'">'
                                 '<h4 class="weui-media-box__title">'+data.question_list[i].question_title+'</h4>'
                                 '<p class="weui-media-box__desc">'+data.question_list[i].question_content+'</p>'
                                 '<ul class="weui-media-box__info">'
                                 '<li class="weui-media-box__info__meta">'+data.question_list[i].question_location+'</li>'
                                 '<li class="weui-media-box__info__meta weui-media-box__info__meta_extra">'+data.question_list[i].like_num+'</li>'
                                 '</ul>'
                                 '</div>';
                   }
                   $('.weui_panel_bd').append(result);
                },
                error: function(xhr, type) {
                    alert('Ajax error!');
                }
            });
        });
    });</script>
<div class="page__bd page__bd_spacing">
    <div class="weui-cells">
        <div class="weui-cell weui-cell_select weui-cell_select-after">
            <div class="weui-cell__hd">
                <label for="" class="weui-label">当前状态</label>
            </div>
            <div class="weui-cell__bd">
                <select class="weui-select" id="status">
                    <option value="all">所有状态</option>
                    <option value="waiting">等待受理</option>
                    <option value="process">受理</option>
                    <option value="classify">分类</option>
                    <option value="reply">答复</option>
                    <option value="append">追答</option>
                </select>
            </div>
        </div>
        <div class="weui-cell weui-cell_select weui-cell_select-after">
            <div class="weui-cell__hd">
                <label for="" class="weui-label">所属部门</label>
            </div>
            <div class="weui-cell__bd">
                <select class="weui-select" id="dept">
                    <option value="all">所有部门</option>
                </select>
            </div>
        </div>
        <div class="weui-cell weui-cell_select weui-cell_select-after">
            <div class="weui-cell__hd">
                <label for="" class="weui-label">排序方式</label>
            </div>
            <div class="weui-cell__bd">
                <select class="weui-select" id="order">
                    <option value="none">不排序</option>
                    <option value="likenum">附议数量</option>
                    <option value="time">提问时间</option>
                </select>
            </div>
        </div>
        <div class="weui-cell weui-cell_select weui-cell_select-after">
            <div class="weui-cell__hd">
                <label for="" class="weui-label">问题类别</label>
            </div>
            <div class="weui-cell__bd">
                <select class="weui-select" id="type">
                    <option value="all">所有问题</option>
                    <option value="qa">常见问题Q&A</option>
                </select>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function(){
        $('select').on('change', function(){
            var status = $('#status').val(),
                dept = $('#dept').val(),
                order = $('#order').val(),
                type = $('#type').val()
            var get_url = '';
            if (type == 'all') {
                get_url = '/question/all/'
            } else {
                get_url = '/regular_question/all/'
            }
            $.ajax({
                type: 'GET',
                url: get_url,
                dataType: 'json',
                data: {
                    page_size : 4,
                    page_num : 1,
                    state_condition : status,
                    depart_condition : dept,
                    order_type : order,
                    keywords : ""
                },
                success: function(data) {
                    var result = '';
                    for(var i = 0; i < data.question_list.length; i++) {
                        result += '<div id="question" class="weui-media-box weui-media-box_text" question_id="'+data.question_list[i].question_id+'">'
                                 '<h4 class="weui-media-box__title">'+data.question_list[i].question_title+'</h4>'
                                 '<p class="weui-media-box__desc">'+data.question_list[i].question_content+'</p>'
                                 '<ul class="weui-media-box__info">'
                                 '<li class="weui-media-box__info__meta">'+data.question_list[i].question_location+'</li>'
                                 '<li class="weui-media-box__info__meta weui-media-box__info__meta_extra">'+data.question_list[i].like_num+'</li>'
                                 '</ul>'
                                 '</div>';
                   }
                   $('.weui_panel_bd').append(result);
                },
                error: function(xhr, type) {
                    alert('Ajax error!');
                }
            });
        });
    });</script>

<div class="weui_panel weui_panel_access" >
    <div class="weui_panel_bd">

    </div>
</div>
<script type="text/javascript">
    $(function(){
        $('#question').on('click', function(){
            $.ajax({
                type: 'GET',
                url: '/question',
                dataType: 'json',
                data: {
                    question_id : $(this).attr("question_id")
                }
            });
        });
    });
</script>
<!-- 使用 -->
</body>
</html>